
.bamHeader{
    background-image: url(../images/HeaderOfBecomeaMember.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 521px;
    display: flex;
    justify-content: center;
}

.bamHeader__content{
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.bamForm{
    margin-top: -150px;
    padding-inline: 200px;
    margin-bottom: 137px;
}
.bamForm__content{
    background-color: var(--White);
    padding: 60px 120px;
    box-shadow: 0px 16px 64px 0px rgba(19, 37, 84, 0.25);
}

.bamForm__content h3{
    margin-bottom:24px;
    margin-top: 40px;
}

.bamForm__content-button{
    margin-bottom:24px;
}

.bamForm__content-button button:nth-child(2) {
    color: var(--Merlot);
    border-radius: 100px;
    background: rgba(127, 31, 54, 0.15);
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    border: 2px solid rgba(127, 31, 54, 0.01);
    margin-left: 16px;
}

.bamForm__content label{
    color: var(--Midnight);
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bamForm__content input{
    color: var(--Midnight);
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 4px;
    background: rgba(22, 81, 165, 0.10);
}


.VolunteerUnlock {
    background-color: var(--LightPastelBlue);
    padding-block: 120px;
}

.VolunteerUnlock .unlock__card {
    width: 607px;
}






@media only screen and (max-width: 600px) {

    .bamHeader{
        height: auto;
        padding-block: 48px;
    }

    .bamHeader h1{
        font-size: 28px;
    }

    .bamHeader p{
        font-size: 14px;
    }

    .bamHeader__content{
        padding-inline: 30px;
        padding-bottom: 10px;
    }

    
    .bamForm{
        margin-top: 0;
        padding-inline: 0;
        margin-bottom: 48px;
    }

    .bamForm__content{
        padding: 48px 30px;
    }

    
    .bamForm__content h3{
        font-size: 24px ;
    }
    
    .VolunteerUnlock {
        padding-block: 64px;
    }

}