.blog-Navbar{
  margin-top: 17px;
  margin-bottom: 18px;
  padding: 0;
}
.blog-NavbarItems a{
  color: var(--Zodiac);;
}
.blogHeader{
  background-color: #132554;
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom : 240px;
  color: var(--White);
}
.blogHeader__titel{
  padding-left: 0;
  padding-right: 0;
}
.blogHeader__titel_subject p{
  width: 24px;
  height: 24px;
  background: var(--PastelBlue);
  margin-right: 12px;
}
.blogHeader__titel_subject a{
  text-decoration: none;
  color: var(--White);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2px;
}
.blogHeader__titel_body{
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-top: 10px;
}
.blogHeader__titel_info{
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding-top: 10px;
}
.blogSummary{
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.blogSummary p{
  border-left: 1px solid white;
  padding-left: 16px;
}
.blogHero__image
{
  margin-top: -160px;
  padding: 0 !important;
  width: 100%;
  height: 500px;
}
.blogHero__image img
{
  width: 100%;
  height: 500px;
}
.blogMainContent{
  padding-right: 60px;
}
.blogSidbar{
  padding-left: 60px;
  padding-right: 30px;
  border-left: 1px solid rgb(165, 195, 242, 0.3);
  padding-top: 0 !important;
}
.blogSidbar::before{
  contain: "";
}
.blogSidbar__subscribe{
  margin-bottom: 60px;
}
.blogSidbar__subscribe button{
  height: 45px;
  width: 115px;
}
.blogSidbar__subscribe_content{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--Midnight);
}
.blogSidbar__subscribe_subTitle{
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
.blog-Footer{
  background-color: #132554;
  height: 800px;
  margin: auto;
  color: var(--White);
  padding: 40px 0;
}
.avatar{
  display: block;
  align-items: center;
}
.avatar__info{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: ;
}
.avatar__image img{
  width: 160px !important;
  height: 160px !important;
  border-radius: 160px !important;
}
.newsLetter{
  background-color: var(--Zodiac);
  height: 335px;
  padding: 37px 36px;
  align-items: center;
  gap: 51px;
  margin: 60px auto;
}
.newsLetter__image img{
  width: 590px;
  height: 261px;
  flex-shrink: 0;
}
.blogComment{
  position: relative;
}
.blogComment label{
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--Zodiac);
}
.blogconnectProfessional{
 margin-block: 120px;
}

.responses__AvatarInfo_image img{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-right: 24px;
}
.responses__AvatarInfo_Name{
  margin: auto 0;
}
.recommendedResources{
  margin-top: 120px;
  margin-bottom: 120px;
}
.recentsPosts{
  margin-bottom: 120px;
}
/* Responsive ---------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .blogHeader{
    padding: 30px 30px 40px 30px;
  }
  .blogHeader__titel_body{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .blogHeader__titel_info{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .blogMainContent{
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-top: 60px;
  }
  .blogMainContent img{
    margin: 30px auto;
    width: 100%;
    align-self: stretch;
  }
  .blogHero__image
  {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 250px;
  }
  .blogHero__image img
  {
    max-height: 255px; 
    width: 100%;
    padding-bottom: 0;
  }
  .blogSummary p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
  }
  .blogSidbar{
    padding-right: 30px;
    padding-left: 30px;
  }
  .blogSidbar>div 
  {
    border-top: 1px solid #D6DADC;
    padding-top: 60px;
    margin-bottom: 60px;;
  }
  .blogSidbar__subscribe h5{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .blogSidbar__subscribe p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .blogSidbar__subscribe input{
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--Zodiac) !important;
  }
  .blogSidbar__subscribe button{
    display: flex;
    height: 56px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1.5px solid var(--Zodiac);
    background: var(--Zodiac);
    width: 100%;
  }
  .avatar__info{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .newsLetter{
    display: none;
  }
  .blogconnectProfessional{
    margin-block: 60px;
  }
  .blog-articles{
    margin-block: 60px;
  }
  .recommendedResources{
    padding-right: 30px;
    padding-left: 30px;
  }
  .recommendedResources h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .recommendedResources .smallVerticalCards__card div{
    padding: 30px !important;
    border: 1.5px solid var(--PastelBlue);
  }
  #recommendedResources_img{
    display: none;
  }
  .recentsPosts{
    padding-right: 30px;
    padding-left: 30px;
  }
  .recentsPosts img{
    visibility : visible !important;
  }
  .recentsPosts h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .responses__Button{
    margin-bottom: 60px;
    padding: 0 30px;
  }
  .responses__Button button{
    width: 100%;
  }
  .recommendedResources h2{   
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}