
.contactusHeader__content h1{
    font-family: chimo;
    padding-top: 120px;
}
.contactusHeader__content p{
    font-family: chimo;
}

/*-----------------------------------------responsive-------------------------------------*/
@media only screen and (max-width: 600px) {
    .contactusHeader__content{
        padding:64px 30px;
    }
    
}
