
.navbar{
    height: 60px;

}
.collapse{
    justify-content: center;
}
.navbar-nav{
    display: contents;
}
.nav-link{
    font-size: larger;
    font-weight: bold;
}



/* responsive------------------------------------------------- */

@media only screen and (max-width: 600px) {

    .blog-Navbar {
        padding: 30px !important;
        background-color: var(--White);
    }
  
    .navbar-nav .dropdown-menu{
      width: 300px;
    }
}
  
  