/* Home Page */

.homeheader{
  /* background-image: url(../images/h.png);
  background-size: cover;
  background-repeat: no-repeat; */
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js_summary_body{
  display: none;
}

.homeheader img{
  width: inherit;
  height: inherit;
}

.homeheader__body{
 display: flex;
}

.homeheader__video{
  height: 80vh;
  padding-inline: 40px;
}

.homeheader__video video{
  height: 100%;
  width: 100%;
}

.homeheader__content{

}
.sectionSlider__slid_card{
  background-color: rgb(82 116 122 / 100%);
}
.flex-slide{
  background-color: rgb(82 116 122 / 100%);
}
.flex-title{
  background-color: rgb(82 116 122 / 100%);
}

.flex-slide_card_category{
  color: var(--White);
  font-family: chimo;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* letter-spacing: 5.6px; */
}

.collection{
  /* position: relative; */
  overflow: hidden;
  height : 30vh;
}

.flex-slide_cardDetail{
  padding-left: 60px;
  margin-block: 59px;
  height: 30%;
}


.flex-slide_card_content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-slide_card_content .body-small{
  color : var(--White);
  line-height: 210%;
}

.flex-slide_card_content_title{
 color : var(--White);
  font-family: chimo;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flex-slide_card_content strong{
  margin-left: 72px;
  margin-bottom: 0;
  text-wrap: nowrap;
}

.flex-slide_card_content p{
  margin-bottom: 0;
}

#home-flex-container-mobile{
  display: none;
}
/*  -----------------------------------------------start => collection-flwx-card-slide-Desktop ------------------------------------------------------ */

.flex-container {
  height: 70vh;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* .js-selected-flex-slid{
  -webkit-flex: 3 !important;
  -ms-flex: 3 !important;
  flex: 3 !important;
  margin-left : -110px !important;
} */

/* .js-selected-flex-slid h4{
  color: var(--global-color-white) !important; 
}

.js-selected-flex-slid .flex-title{
   background-color : var(--global-color-purple) !important;
} 

.js-selected-flex-slid .js-selected-flex-slid-text{
   margin-top: 160px !important;
}
.js-selected-flex-slid .js-selected-flex-slid-header{
   color : var(--global-color-white) !important;
} */

.flex-slide {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  /* -webkit-transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  transition: all 900ms ease; */
  animation-name: flex-slide-growBack;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

.flex-title {
  color : var(--global-color-lightBrown);
  /* background-color: white; */
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  animation-name: changeWidthtBack;
  animation-duration: 0.5s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
  height: 100%;
  /* display: flex;
  align-items: center; */
  border-radius: 0 90px 90px 0;
  /* border-left: none; */
  box-shadow: 20px 0px 39px -32px rgba(0, 0, 0, 0.45);
  justify-content: center;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.flex-title h4{
  color: var(--White);
  font-family: chimo;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(-90deg);
  width: 55vh;
  text-align: center;
}

/* .FlexSlideChangeColor{
  animation-name: FlexSlideChangeColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
} */

.flex-slide img{
  height: 100%;
  width: 100%;
  border-radius: 0 95px 95px 0;
  padding-inline: 2px;
}

/* hover behavior */

.flex-slide:hover {
  animation-name: flex-slide-grow;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

.flex-slide:hover  .flex-title{
  animation-name: changeWidth ;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

/* .flex-slide:hover  .flex-title h4{
  animation-name: change-brownColor ;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
} */

/* .flex-slide:has(+ .flex-slide:hover){
  animation-name: change-backgroundColor ;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
} */

/* @keyframes FlexSlideChangeColor {
  12% {
    background-color: var(--global-color-white);
  }
  100% {
    background-color: var(--global-color-purple);
  }
} */

/*  -----------------------------------------------End => collection-flwx-card-slide-Desktop ------------------------------------------------------ */


/* keyframes  */
@keyframes changeheightBack {
  from { height: 100%;}
  to { height: 100%;}
}

@keyframes changeheight {
  from { height: 100%; }
  to { height: 15%;}
}

@keyframes flex-slide-grow {
  from { flex-grow :1; }
  to { flex-grow :2;}
}
@keyframes flex-slide-growBack {
  from { flex-grow :2;}
  to { flex-grow :1;}
}

@keyframes change-backgroundColor{
  from { background-color : var(--global-color-white); !important }
  to { background-color : var(--global-color-purple); !important }
}
@keyframes change-backgroundColorBack{
  from { background-color : var(--global-color-purple); !important }
  to { background-color : var(--global-color-white); !important }
}

@keyframes change-Color{
  from { color :  var(--global-color-black) !important; }
  to { color :  var(--global-color-white) !important; }
}

@keyframes change-brownColorBack{
  from { color : var(--global-color-white) !important;  }
  to { color :  var(--global-color-lightBrown) !important;  }
}
@keyframes change-brownColor{
  from {color : var(--global-color-lightBrown) !important; }
  to { color :  var(--global-color-white) !important; }
}

@keyframes changeWidth {
  from { width: 100%;}
  to { width: 20%;}
}

@keyframes changeWidthtBack {
  from { width: 20%;}
  to { width: 100%;}
}



.homeprojects{
  margin-top: 100px;
}

.homeprojects__title{
  margin-bottom: 50px;

}
.homeprojects__title h4{
  font-family: chimo;
  color: black;
  font-size: 34px;
}


.card{
  border: none;
}
.homeproject__card{
  height: 460px;
  margin-bottom: 20px;
  border: 1px solid rgb(190 190 190);
  border-radius: 16px;
/* From https://css.glass */
background: rgba(82, 116, 122, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.3px);
-webkit-backdrop-filter: blur(4.3px);
}
.homeproject__card img{
  width: 100%;
  border-radius: 16px 16px 0 0;
  height: 250px;
}

.homeproject__card a{
 font-family: chimo;
}

.homeproject__card .card-title{
  font-family: chimo;
  height: 40px;
 }
 .homeproject__card .card-text{
  font-family: chimo;
  height: 72px;
  overflow-y: auto;
 }

/* .photo__gallery{
  display: flex;
  gap: 20px;
  padding-inline: 40px;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo__content{
  position: relative;
}

.photo__content h5{
  font-family: chimo;
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  /* visibility: hidden; */
}

.photo{

}

.photo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.photo img:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  scale: 1.2;
  position: inherit;
  z-index: 9;
}

.photo img:hover .photo__content h5{
  visibility: visible !important;
} */


/* mobile   */

#home-flex-container-mobile{
  display : none;
}

.flex-container-mobile{
  height: 98vh;
  display : flex;
  flex-direction: column;
}

.flex-slide-mobile {
  /* background-color :var(--white); */
  /* margin-top : -20px; */
  position: relative;
  cursor: pointer;
  animation-name: flex-slide-growBack;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

.flex-slide-mobile:hover {
  animation-name: flex-slide-grow;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

.flex-slide-mobile:hover  .flex-title-mobile{
  animation-name: changeheight;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
}

/* .flex-slide-mobile:hover  .flex-title-mobile h4,
.flex-slide-mobile:hover  .flex-title-mobile p{
  animation-name: change-Color;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
} */


.flex-slide-mobile:has(+ .flex-slide-mobile:hover){
  /* background-color : var(--global-color-purple); */
}

.flex-slide-mobile:hover  .flex-title-mobile-image{
  display:unset;
}
.flex-slide-mobile:hover  .flex-title-mobile p{
  display:unset;
}

.flex-title-mobile{
  position: absolute;
  margin-inline: 0px;
  color : white;
  background-color : rgb(82 116 122 / 100%);
  box-shadow: 0 5px 5px 0px #00000073;
  width: 100vw;
  /* height: 100%; */
  animation-name: changeheightBack;
  animation-duration: 2s;
  animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
  border-radius: 0px 0px 60px 60px;
  display: flex;
  /* align-content: center; */
  flex-direction: row;
  align-items: center;
  padding-inline: 30px;
}

.flex-title-mobile-subject{
  /* width: -webkit-fill-available; */
}
.flex-title-mobile-image{
  display:none;
  width: 100vw;
  height: 100%;
}
.flex-title-mobile-image img{
  width: inherit;
  height: inherit;
  border-radius: 0px 0px 60px 60px;
}

.flex-title-mobile h4{
  padding-left : 50px;
  color: var(--white);
  font-family: chimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex-title-mobile-description{
  padding-right : 40px;
}
.flex-title-mobile p{
  color: var(--white);
  font-family: chimo;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-block : auto;
}

.flex-title-mobile p{
  display : none;
}



/* Responsive */
@media only screen and (max-width: 600px) {
  .homeheader{
    height: 40vh;
  }

  #home-flex-container-desctop{
    display : none;
    }
    #home-flex-container-mobile{
    display : flex;
    }
  
}