/* Issue Page */

/* new styles */

.issueHeader{
    background-image:url(../images/IssueHeaderImag.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.issueHeader__content-category{
    display: flex;
    margin-bottom: 10px;
}

.issueHeader__content-category span{
    width: 24px !important;
    height: 24px !important;
    background-color: var(--Maroon);
}

.issueHeader__content-category p{
    margin: auto 0 auto 12px ;
}

.issueHeader__content-title h1{
    color: var(--White);
    margin-bottom :32px;
}

.issueHeader__content-text p{
    color: var(--White);
    padding-left: 24px;
    border-left: 1px solid var(--White);
}

.issueHeader__Maincontent{
    margin-block: 120px;
}

.issueHeader__Maincontent h1,    
.issueHeader__Maincontent h2,
.issueHeader__Maincontent h3,
.issueHeader__Maincontent h4,
.issueHeader__Maincontent h5,
.issueHeader__Maincontent h6{
    margin-bottom: 40px;
}
.issueHeader__Maincontent p{
    color: var(--Midnight);
    padding-left: 24px;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-left: 1px solid var(--Zodiac);
}

.issueResourcesroom{
    margin-bottom: 120px;
}
.issueResourcesroom h2{
    margin-bottom: 40px;
}

.issueResourcesroom .issueHeader__content-category p{
    color: var(--Midnight);
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.issueResourcesroom__cards{
    padding-inline: inherit;
    /* justify-content: space-between; */
    gap: calc((100% - 1180px)/3);
}
.issueResourcesroom__cards .smallVerticalCards__card{
    width: 295px !important;
    margin-bottom: 40px;
}

.issueResourcesroom__cards .smallVerticalCards__card img{
    height: 211px !important;
}




.issueNewsroom{
    padding-block: 120px;
    background-color: #EEF2FB;
}

.issueNewsroom .issueHeader__content-category span{
    background-color: var(--Zodiac);
}

.issueNewsroom__cards{
    margin-bottom: 20px;
}

.issueNewsroom__cards .horizontalCard{
    width: 50% !important;
    height: 180px !important;
}

.issueNewsroom__cards .horizontalCard__image{
    width: 295px !important;
    height: 180px !important;
}
.issueNewsroom__cards .horizontalCard__image img{
    width: inherit !important;
    height: inherit !important;
}
.issueNewsroom__cards .horizontalCard__content{
    padding-left: 20px;
}
.issueNewsroom__cards .horizontalCard__content_text{
    font-size: 18px;
}
.issueNewsroom__cards .horizontalCard__content p{
    height: 72px;
    overflow: hidden;
}

.issuesWithinImmigration{
    margin-block: 120px;
}

.issuesWithinImmigration__button{
    margin-block: 40px;
}

.issuesWithinImmigration__button button{
    padding-inline: 30px;
    margin-right: 16px;
}

.issuesWithinImmigration__cards{
    padding-inline: inherit;
    justify-content: space-between;
}

.issuesWithinImmigration__cards .smallVerticalCards__card{
    width: 295px !important;
    margin-bottom: 40px;
}

.issuesWithinImmigration__cards .smallVerticalCards__card img{
    height: 211px !important;
}

.issueConnectProfessional{
    margin-block: 120px;
}

.FAQ{
    margin-block: 120px;
}

/* Responsive ---------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .issueHeader{
        background-repeat: round;
        height: 414px;
        padding-inline: 30px;
    }

    .issueHeader__content-category p{
        font-size: 14px;
    }

    .issueHeader__content-title h1{
        font-size :28px;
    }
    
    .issueHeader__content-text p{
        font-family: "Cera Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    .issueHeader__Maincontent{
        margin-block: 48px;
        padding-inline: 30px;
    
    }

    .issueHeader__Maincontent h1,
    .issueHeader__Maincontent h2,
    .issueHeader__Maincontent h3,
    .issueHeader__Maincontent h4,
    .issueHeader__Maincontent h5,
    .issueHeader__Maincontent h6{
        margin-bottom: 16px;
        font-family: "Cera Pro";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; 
    }
    .issueHeader__Maincontent p{
        border-left: none;
        padding-left: 0;
    }

    .issueResourcesroom{
        margin-bottom: 48px;
        padding-inline: 30px;
        /* display: none; */
    }

    .issueResourcesroom__cards{
        flex-direction: column;
    }
    .issueResourcesroom__cards .smallVerticalCards__card{
        width: auto !important;
        margin-bottom: 30px;
    }

    .issueResourcesroom__cards .smallVerticalCards__card div:first-child{
        height: 240px !important;
    }
    
    .issueResourcesroom__cards .smallVerticalCards__card img{
        height: inherit !important;
    }

    .issueNewsroom{
        padding-block: 48px;
        padding-inline: 30px;
    }

    .issueNewsroom__cards .horizontalCard{
        width: 354px !important;
        display: flex;
        flex-direction: column;
        height: auto !important;
    }
    .issueNewsroom__cards .horizontalCard__content{
        padding-left: 0;
    }
    .issueNewsroom__cards .horizontalCard__image{
        width: 100% !important;
        height: 262px !important;
        margin-bottom: 20px;
    }
    .issueNewsroom__cards .horizontalCard__image img{
        margin-bottom: 20px;
    }
    .issueNewsroom__cards .horizontalCard__content{
        width: 100%;
    }
    .issueNewsroom__cards .horizontalCard__content_text{
        font-size: 18px;
    }

    .issuesWithinImmigration{
        margin-block: 48px;
        padding-inline: 30px;
    }
    
    .issuesWithinImmigration__button{
        margin-block: 32px;
    }
    
    .issuesWithinImmigration__button button{
        padding-inline: 30px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    
    .issuesWithinImmigration__cards{
        display: contents;

    }
    
    .issuesWithinImmigration__cards .smallVerticalCards__card{
        width: 100% !important;

    }
    
    .issuesWithinImmigration__cards .smallVerticalCards__card img{
        height: 262px !important;
    }

    .FAQ{
        margin-block: 48px;
        padding-inline: 30px;
    }

    .issue-accordion h1{
        font-size: 28px;
        margin-bottom: 24px !important;
    }

    .accordion h3{
        font-size: 18px;
    }


}















/* start Ehsan style ------------------- */
.newsroom-header{
    margin-bottom: 64px;
}

.issue-accordion{
    display: grid;
    row-gap: 32px;
}
.accordion-icon{
    font-size: 25px;
    right: 0;
}
.accordion{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-evenly;
    color: #132554;
    cursor: pointer;
    transition: var(--transition);
}
.active, .accordion:hover {
    background-color: #EEF2FB;
}
.panel{
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}
.bi{
    user-select: none;
}
.newsroom2{
    display: grid;
}
.connect-issue{
    display: none;
}
.card-1more{
    display: none;
}



@media (min-width:769px){

    .issue-accordion h1{
        font-size: 56px;
    }
    .accordion h3{
        font-size: 26px;
    }
    .accordion p{
        font-size: 18px;
        font-weight: 600;
    }
    .accordion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}

/* End Ehsan style ------------------- */
