.investerHeader{
    padding-inline: 0;
    background-image: url('../images/investerHeader.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.investerHeader__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 96px;
    padding-inline: 160px;
}
.investerHeader__content h1{
    color: var(--White);
    text-align: center;
    margin-bottom: 24px;
}
.investerHeader__content p{
    color: var(--White);
    text-align: center;
}
.investerKnowabout{
    margin-block: 120px;
}
.investerKnowabout :where(h1,h2,h3,h4,h5,h6){
    margin-bottom: 40px;
}
.investerKnowabout p{
    padding-left: 24px;
    border-left: 1px solid var(--Zodiac);
}


#investerResources__button{
    display: none;
}

.investerResources__card_image{
  height: 211px;
}

.investerResources__card img{
    height: inherit;
}
.investerResources__card h4{
    font-size: 22px;
    margin-top: 24px;
    height: 58px;
    overflow: hidden;
}

.investerconnectProfessional{
    margin-block:120px ;
}
.investerMoreresource{
    margin-bottom: 120px;
}
.investerMoreresource__cards_image{
    height: 400px;
}
.investerMoreresource__cards img{
    height: inherit;
}
.investerMoreresource__cards p{
    height: 81px;
    font-size: 18px;
    overflow: hidden; 
}
#IRP_mobile{
    display: none;
}

/*----------------responsive------------------*/

@media only screen and (max-width: 600px) {
    .investerHeader{
        padding:48px 30px;
    }
    .investerHeader__content{
        padding-block: 0;
        padding-inline: 0;
        align-items: start;
    }
    .investerHeader__content h1{
        font-size:28px;
    }
    .investerHeader__content p{
        font-size: 14px;
        font-weight: 700;
    }
    .investerKnowabout{
        margin-block: 0px;
        padding: 48px 30px 30px 30px;
    }
    .investerKnowabout :where(h1,h2,h3,h4,h5,h6){
        margin-bottom: 24px;
        font-size: 28px;
    }
    .investerResources{
        height: auto;
        padding-inline: 30px;
    }
    .investerResources h2{
        font-size: 28px;
        margin-bottom: 15px;
    }
    #investerResources__button{
        display:flex;
        justify-content: center;
    }
    .investerResources__card{
        margin-block: 15px;
        padding-inline: 0;
    }
    .investerResources__card_image{
        height: 263px;
    }
    .investerResources__card img{
        height: inherit;
    }
    .investerResources__card h4{
        font-size: 22px;
        margin-top: 24px;
        height: 58px;
        overflow: hidden;
    }

    .investerconnectProfessional{
        margin-block:64px ;
    }
    .investerMoreresource{
        margin-bottom:0px;
        padding: 60px 30px;
    }
    .investerMoreresource h2{
        font-size: 28px;
    }
    .investerMoreresource__cards_image{
        height: 240px;
    }
    .investerMoreresource__cards img{
        height: inherit;
    }
       
    .investerFindresource{
        margin: 60px 30px;
        padding: 40px 30px;
        width: 354px;
        height: 502px;
    }
    .investerFindresource h3{
        color: var(--White);
        font-size: 22px;
    }
    .investerFindresource__body{
        padding: 40px;
        width: 100%;
        margin:0px;
    }
    .investerFindresource__body form{
        width: 100%;    
    }
    .investerFindresource__body form select{
        width:100%;
        height: 41px;
        padding: 10px 20px;
        margin-bottom: 32px;     
    }
    .investerFindresource__body form button{
        width:100%;
        height: 56px;     
    }
    #IRP_desktop{
        display: none;
    }
    #IRP_mobile{
        display: unset;
    }
}