.resourceHeader{
    height: 100vh;
    padding: 0;
}

.resourceHeader img{
    height: 100%;
    width: 100%;
}

.resourceContent{
    margin-block: 100px;
}

.resourceContent h1,
.resourceContent h2,
.resourceContent h3,
.resourceContent h4,
.resourceContent h5,
.resourceContent h6{
    margin-bottom: 40px;
}

.resourceContent p{
   font-family: chimo;
}

.resourceParent__childe{
    margin-block: 100px;
}
